<!-- Page Content -->
<div class="container">
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <iframe src='https://www.youtube.com/embed/<%= video.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
          <div class="card-body">
            <h6 class="card-title"><%= video.title %></h6>
            <div>
              <% if user_signed_in? && current_user.voted_for?(video) %>
                <%= link_to dislike_video_path(video), method: :put do %>
                  <%=image_tag("green_paw.png", alt: "unlike", :size => "25x25")%>
                <% end %>
              <% else %>
                <%= link_to like_video_path(video), method: :put do %>
                  <%=image_tag("black_paw.png", alt: "like", :size => "25x25")%>
                <% end %>
              <% end %>
              <%= video.votes_for.size %>
              <% if user_signed_in? && video.user_commented?(current_user) %>
                <%= link_to image_tag("green_speech_bubble.png", alt: "unlike", :size => "25x25"), video_path(video) %>
              <% elsif !user_signed_in?%>
                <%= link_to image_tag("black_speech_bubble.png", alt: "unlike", :size => "25x25"), new_user_session_path %>
              <% else %>
                <%= link_to image_tag("black_speech_bubble.png", alt: "unlike", :size => "25x25"), video_path(video) %>
              <% end %>
              <%= video.comments.size %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- /.row -->
  <div>
    <!-- Pagination -->
    <%= will_paginate @videos, :class => "pagination" %>

  </div>

</div>
<!-- /.container -->
