<h3>Comments for <%=@video.title %></h3>
<hr>
<%= form_for [@video, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment" %><br/>
  <%= f.hidden_field :video_id, value: @video.id %>
  <%= f.submit "Add Comment" %>
<% end %>
<hr>

<ul>
  <%= render(partial: 'comments/comment', collection: @video.comments, locals: {video_id: @video.id}) %>
</ul>
